@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default, dark --prefersdark, cupcake;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  /* Custom base styles can go here */
  h1 {
    @apply text-green-500 text-3xl font-bold;
  }

  h2 {
    @apply text-amber-500 text-2xl font-bold text-center;
  }

  p {
    @apply text-gray-700 text-2xl;
  }
}


@layer components {
  .box {
    @apply bg-blue-500 p-4 text-white m-2 hover:bg-sky-700 cursor-pointer
  }
  .movie-card {
    @apply bg-blue-500 p-4 text-white m-2 hover:bg-sky-700 cursor-pointer
  }
}